<html>
  <head>
    <title>Welcome to Public WiFi</title>
  </head>
  <body>
    <h1>Welcome to Public WiFi</h1>
    <div id="error_message">
      {{.Get "error_message"}}
    </div>

    <div id="useful_information">
      URL you tried to reach: {{.Get "continue_url"}}
      <br/>
      You connected to Access Point: {{.Get "ap_name"}} {{.Get "ap_mac"}} {{.Get "ap_tags"}}
    </div>

    <form method="POST" action='{{.Get "action_url"}}'>
      Username: <input type ="text" name="username" />
      <br/>
      Password: <input type ="text" name="password" />
      <br/>
      <input type="submit" value="Login" />
      <input type="hidden" name="success_url" value="http://www.example.com/success/" />
    </form>
  </body>
</html>
