<html>
  <head>
    <title>Welcome to Public WiFi</title>
  </head>
  <body>
    <h1>Welcome to Public WiFi</h1>
    <div>
      <p>Thank you for associating to Public WiFi. By continuing you agree to our terms of service.</p>
      <a href='{{.Get "base_grant_url"}}?continue_url={{.Get "user_continue_url"}}'>Click here to continue to the internet</a>
    </div>
  </body>
</html>
