<html>
  <head>
    <title>Net-Op test server</title>
  </head>
  <body>
    <div>
      Use <strong>/login</strong> for testing RADIUS
    </div>
    <div>
      Use <strong>/clickthrough</strong> for testing clickthrough
    </div>
  </body>
</html>
